/*! Reset !*/

html {
    font-size: 100%;
    overflow-y: scroll;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    width: 100%;
    font-weight: 400;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 200%;
}
@media all and (max-width: 240px), all and (max-height: 260px) {
    html { font-size: 100%; }   
}
@media (min-width: 20.0625em) {
    html {
        font-size: 180%;
    }
}

@media (min-width: 48.0625em) {
    html {
        font-size: 300%;
    }
}

@media (min-width: 89.0625em) {
    html {
        font-size: 400%;
    }
}

@media (min-width: 116.063em) {
    html {
        font-size: 500%;
    }
}

@media (min-width:200.063em) {
    html {
        font-size: 600%;
    }
}


/*! Personalizado !*/

html {
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    background: #eee;
}

body {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: 0;
    background: #eee;
    font-size: 0.75em;
}

h1 {
    font-size: 20px;
    font-size: 1.250em;
    font-size: 1.25rem;
}
body:last-child body {
	padding-top: 5%;
}
header,
main,
footer {
	display: block;
    margin: 0 5%;
    text-align: center;
    background: #fff;
}

footer {
    color: #888;
}

h2 {
    font-size: 16px;
    font-size: 1rem;
    color: #aaa;
}

#preload {
    background: #111;
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 998;
}

#preload-content {
    height: 20px;
    left: 50%;
    margin-left: -75px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 150px;
    z-index: 999;
    color: #fff;
}

.isa_error,
#browsehappy {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    margin-top: -50px;
    width: 100%;
    padding: 12px;
    color: #D8000C;
    background-color: #FFBABA;
    font-size: 100%;
    text-align: center;
}

#browsehappy {
    display: none;
    font-size: 100%;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5% 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

@media all and (max-width: 36em) {
    footer {
        font-size: 86%;
    }
}
